
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div>
    @using (Html.BeginForm("Upload", "Demo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="UploadedFile" />
        <input type="submit" name="Submit" value="Submit" />
    }



</div>